<svg id="gradient-primary">
  <defs>
    <linearGradient id="primaryGradient" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="40%" stop-color="#dfe0dc" stop-opacity="1"></stop>
      <stop offset="100%" stop-color="#91969d" stop-opacity="1"></stop>
    </linearGradient>
  </defs>

  <g>
    <rect width="100%" height="100%" fill="url(#primaryGradient)"></rect>
  </g>
</svg>

<div id="problem-solution-container">
  <div id="problem-solution-central">
    <img alt="Central element"
         loading="eager"
         src="./assets/landing-problem-solution/problem-logo.png"
         style="width:50vmin;height:50vmin;display:block;transform:translate(-50%, -50%); position:absolute; top: 50%; left: 50%">
  </div>

<!--  <div id="blue-points-up">-->
<!--    <img alt="Bluepoints"-->
<!--         loading="eager"-->
<!--         src="./assets/landing-problem-solution/bluepoints.png"-->
<!--         style="width: 15vmin;height: 10vmin;display:block; position:absolute; top: 0">-->

<!--  </div>-->
<!--  <div id="blue-points-down">-->
<!--    <img alt="Bluepoints"-->
<!--         loading="eager"-->
<!--         src="./assets/landing-problem-solution/bluepoints.png"-->
<!--         style="width:15vmin;height:10vmin;display:block; position:absolute; bottom: 0; right: 0; overflow: hidden">-->

<!--  </div>-->
  <!--  Problemele-->
  <div id="first-problem" style="position: absolute; top: 5%; left: 5%">
    <p class="problem-solution-title">
      Problemă
    </p>

    <p class="problem-solution-content">
      Dispozitivele de recunoaștere vocală existente au <br>
      <b>rată mare de eroare </b>
    </p>

  </div>
  <div id="second-problem" style="position: absolute; top: 40%; left: 5%">
    <p class="problem-solution-title">
      Problemă
    </p>

    <p class="problem-solution-content">
      Soluțiile actuale nu permit <br><b>personalizarea comenzilor vocale</b>
    </p>

  </div>
  <div id="third-problem" style="position: absolute; top: 75%; left: 5%">
    <p class="problem-solution-title">
      Problemă
    </p>

    <p class="problem-solution-content">
      Lipsa <b> suportului continuu și a actualizărilor<br></b> deteriorează experiența utilizatorului
    </p>

  </div>
  <!--  Solutiile -->
  <div id="first-solution" style="position: absolute; top: 5%; right: 5%">
    <p class="problem-solution-title">
      Soluție
    </p>

    <p class="problem-solution-content">
      Folosim tehnologii avansate pentru a <br> reduce rata de eroare <b>sub 1%</b>
    </p>
  </div>

  <div id="second-solution" style="position: absolute; top: 75%; right: 5%">
    <p class="problem-solution-title">
      Soluție
    </p>

    <p class="problem-solution-content">
      Cu VRD, utilizatorii își pot configura <br> comenzi personalizate <b> adaptate nevoilor lor</b>
    </p>
  </div>
  <div id="third-solution" style="position: absolute; top: 40%; right: 5%">
    <p class="problem-solution-title">
      Soluție
    </p>

    <p class="problem-solution-content">
      VRD beneficiază de <b> <br> actualizări constante și suport 24/7</b> <br>pentru o experiență optimă
    </p>
  </div>


  <!--  Sagetile -->
  <img alt="Problem 1 arrow"
       class="arrow"
       loading="lazy"
       src="./assets/landing-problem-solution/arrow1.svg"
       style="width:20vmin;height:20vmin;display:block; position: absolute; top: 30%; left: 37.5%;transform:translate(-50%, -50%) rotate(185deg);">

  <img alt="Problem 2 arrow"
       loading="lazy"
       class="arrow"
       src="./assets/landing-problem-solution/arrow2.svg"
       style="width:20vmin;height:15vmin;display:block; position: absolute; top: 70%; left: 37.5%;transform:translate(-50%, -50%) rotate(150deg);">

  <img alt="Solution 1 arrow"
       loading="lazy"
       class="arrow"
       src="./assets/landing-problem-solution/arrow2.svg"
       style="width:18vmin;height:15vmin;display:block; position: absolute; top: 53%; left: 65%;transform:translate(-50%, -50%) rotate(2deg);">

  <img alt="Solution 2 arrow"
       loading="lazy"
       class="arrow"
       src="./assets/landing-problem-solution/arrow2.svg"
       style="width:16vmin;height:20vmin;display:block; position: absolute; top: 47%; left: 32.5%;transform:translate(-50%, -50%) rotate(176deg);">
  <img alt="Solution 1 arrow"
       loading="lazy"
       class="arrow"
       src="./assets/landing-problem-solution/arrow2.svg"
       style="width:20vmin;height:15vmin;display:block; position: absolute; top: 30%; left: 65%;transform:translate(-50%, -50%) rotate(330deg);">

  <img alt="Solution 2 arrow"
       loading="lazy"
       class="arrow"
       src="./assets/landing-problem-solution/arrow1.svg"
       style="width:20vmin;height:20vmin;display:block; position: absolute; top: 70%; left: 62.5%;transform:translate(-50%, -50%) rotate(-15deg);">
</div>
