<div id="footer-container">
  <div id="footer-command-container">
    <div id="footer-products-container">
      <h6>Produse</h6>

      <a href="/#/product/0"> VRD </a>
      <a href="/#/product/1"> DVC </a>
    </div>
    <div id="footer-social-container">
      <h6>Social</h6>

      <a href="https://www.instagram.com/voice_recognition_device/?igsh=MW93Y2ZieXl2MHg1aA%3D%3D">
        Instagram
      </a>
      <a href="/#/landing-page"> Pagina de prezentare </a>
    </div>
    <div id="footer-service-container">
      <h6>Diverse</h6>

      <a href="/#/shop"> Magazin </a>
      <a href="/#/contact"> Contact </a>
    </div>
  </div>
  <div id="footer-copyright-container">
    <p> Copyright © 2024-2025 VRD. Toate drepturile rezervate!</p>
  </div>
</div>
