<div class="checkout-page">
    <app-navigation-bar
      [pageReferences]="this.pageReferences"
      [buttonNumber]="2"
    ></app-navigation-bar>

    <div class="left-side">

        <div class="section">
          <h2>Plătește rapid printr-o metodă Express Checkout</h2>
          <div class="express-checkout">
            <div class="button-container">
              <button pButton class="payment-button google-pay">
                <img src="./assets/google-pay-logo.png" alt="Google Pay" class="button-icon" />
              </button>
              <button pButton class="payment-button apple">
                <img src="./assets/apple-logo.png" alt="Apple Pay" class="button-icon" />
              </button>
              <button pButton class="payment-button bitcoin">
                <img src="./assets/bitcoin.png" alt="Bitcoin" class="button-icon" />
              </button>
            </div>
          </div>

          <div class="separator">
            <span>
                <i class="pi pi-credit-card" style="padding: 1%"></i>
            </span>
          </div>

          <div class="credit-card-form compact-card-form">
            <h2>Plătește cu cardul</h2>
            <div class="form-group">
              <label for="cardNumber" >Număr card</label>
              <input type="text" id="cardNumber" class="input-field compact-input" placeholder="1234 5678 9012 3456" />
            </div>
            <div id="secondCardContainer" class="form-group flex-container">
              <label for="cardMonth" style="width: 25%">Expiră la:</label>
              <input type="text" id="cardMonth" class="input-field compact-input" placeholder="MM" />
              <label for="cardYear">/</label>
              <input type="text" id="cardYear" class="input-field compact-input" placeholder="YY" />
              <label for="cardCVC">CVC</label>
              <input type="text" id="cardCVC" class="input-field compact-input" placeholder="123" />
            </div>
          </div>

          <div class="separator">
            <span>
                <i class="pi pi-home" style="padding: 1%"></i>
            </span>
          </div>

          <div class="address-group">
            <h2>Adresă de livrare și facturare</h2>

            <div class="form-group flex-container">
              <div class="input-container">
                <label for="address">Stradă</label>
                <input type="text" id="address" class="input-field" placeholder="123 Main St" />
              </div>
              <div class="input-container">
                <label for="bloc">Bloc</label>
                <input type="text" id="bloc" class="input-field" placeholder="Bloc 1" />
              </div>
            </div>

            <div class="form-group flex-container">
              <div class="input-container">
                <label for="numar">Număr</label>
                <input type="text" id="numar" class="input-field" placeholder="1B" />
              </div>
              <div class="input-container">
                <label for="apartament">Apartament</label>
                <input type="text" id="apartament" class="input-field" placeholder="Apartament 10" />
              </div>
              <div class="input-container">
                <label for="etaj">Etaj</label>
                <input type="text" id="etaj" class="input-field" placeholder="Etaj 3" />
              </div>
              <div class="input-container">
                <label for="interfon">Interfon</label>
                <input type="text" id="interfon" class="input-field" placeholder="Interfon 1234" />
              </div>
            </div>

            <div class="form-group flex-container">
              <div class="input-container">
                <label for="city">City</label>
                <input type="text" id="city" class="input-field" placeholder="City" />
              </div>
              <div class="input-container">
                <label for="zip">ZIP Code</label>
                <input type="text" id="zip" class="input-field" placeholder="12345" />
              </div>
            </div>
          </div>

        </div>

      </div>


    <div class="right-side">
        <div class="order-summary">
            <form class="payment-form">
                <div class="logo-container">
                    <h2>Sumar comandă</h2>
                    <img src="./assets/vrd-logo-black.png" alt="VRD Logo" class="vrd-logo" />
                </div>

                <div class="product-list">
                    <div class="product-item">
                        <img src="./assets/products/VDR-2.PNG" alt="Voice Recognition Device" class="product-photo" />
                        <div class="product-details">
                            <h4>Voice Recognition Device</h4>
                            <div class="quantity-controls">
                                <button class="decrease-quantity">-</button>
                                <span class="quantity">1</span>
                                <button class="increase-quantity">+</button>
                            </div>
                        </div>
                        <span class="product-price">954,49 RON</span>
                    </div>

                    <div class="product-item">
                        <img src="./assets/products/DVC-3.jpg" alt="Digital Voice Communicator" class="product-photo" />
                        <div class="product-details">
                            <h4>Digital Voice Communicator</h4>
                            <div class="quantity-controls">
                                <button class="decrease-quantity">-</button>
                                <span class="quantity">1</span>
                                <button class="increase-quantity">+</button>
                            </div>
                        </div>
                        <span class="product-price">569,49 RON</span>
                    </div>
                </div>

                <div class="gift-card">
                    <input type="text" class="input-field" placeholder="Introdu un cod de card cadou" />
                    <button pButton class="apply-button">Aplică</button>
                </div>

                <div class="subtotal">
                    <p>Subtotal: <span>1.523.98  RON</span></p>
                    <p>Livrare: <span>Gratuit</span></p>
                    <p class="disclaimer">* Livrarea este gratuită pentru comenzi mai mari de 800 RON.</p>
                </div>

                <div class="total">
                    <p>Total: <strong>1.523.98  RON</strong></p>
                </div>

                <div class="form-actions">
                    <button
                        pButton
                        type="submit"
                        class="p-button-raised p-button-rounded"
                        label="Plătește acum"
                        icon="pi pi-credit-card">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>
