#landing-target-market-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  width: 98vw;
  /*padding: 5% 5%;*/
  padding-top: 2%;
  padding-left: 2%;
  align-items: flex-start;
}

#targets-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

#target-market-title {
  color: #000000;
  font-family: Poppins, sans-serif;
  font-size: 4vw;
  line-height: 4vw;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 5vw;
}

.image-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 5vw;
}

.image-content-container:nth-child(even) {
  flex-direction: row-reverse;
}

.title-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 12vw;
  width: 50%;
  text-align: justify;
}



#target-market-content-title {
  font-family: Poppins, sans-serif;
  text-align: center;
  font-size: 2.75vw;
  margin: 0;
}


#target-market-content-description {
  width: 70%;
  font-size: 1.5vw;
  font-family: Nunito, sans-serif;
  margin-top: 0;
}

#target-market-graphic {
  width: 50%;
  height: 50%;
  overflow: hidden;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 105%;
  left: 5%;
}

