<div><h1 class="title"> Cum funcționează VRD?</h1></div>
<div id="landing-primary-functions-container">
  <!--  <div id="landing-primary-functions-background"></div>-->

  <!--  <div id="slogan-container">-->
  <!--    <img-->
  <!--      loading="lazy"-->
  <!--      alt="Buy and sell main picture"-->
  <!--      src="./assets/landing-main-functions/Slogan-Image.jpg"-->
  <!--      style="width:87.5%; display:block;"-->
  <!--    >-->

  <!--    <p id="slogan-text">-->
  <!--        All Your Shopping to your doorstep at one click away-->
  <!--    </p>-->
  <!--  </div>-->

  <div id="main-functions-container">

    <!--    <img-->
    <!--      loading="lazy"-->
    <!--      alt="Buy and sell second picture"-->
    <!--      src="./assets/landing-main-functions/setting.png"-->
    <!--      style="width:40%; display:block"-->
    <!--    >-->

    <div id="buyer-seller-main-container">
      <div class="buyer-seller-container">

        <img
          loading="lazy"
          alt="Buy and sell second picture"
          src="./assets/landing-main-functions/setting.png"
          style="width:40%; display:block"
        >
        <p class="buyer-seller-title">
          Configurare Simplă
        </p>

        <p class="short-description">Pornește și personalizează rapid</p>
        <br>
        <ol>
          <li class="buyer-seller-text">
            Conectează dispozitivul la rețea sau aplicație.
          </li>

          <br>

          <li class="buyer-seller-text">
            Configurează setările inițiale (limbă, preferințe).
          </li>
          <br>

          <li class="buyer-seller-text">
            Ești pregătit să începi!
          </li>
        </ol>
      </div>

      <div class="buyer-seller-container">
        <img
          loading="lazy"
          alt="Buy and sell second picture"
          src="./assets/landing-main-functions/wedding-day.png"
          style="width:40%; display:block"
        >
        <p class="buyer-seller-title">
          Utilizare Zilnică
        </p>

        <p class="short-description">Soluție eficientă pentru nevoile tale zilnice</p>
        <ul>
          <li class="buyer-seller-text">
            Activează comenzi prin voce pentru sarcini zilnice (mementouri, alarme, programări)
          </li>

          <br>

          <li class="buyer-seller-text">
            Controlează dispozitivele smart home sau aplicațiile compatibile.
          </li>
          <br>
          <li class="buyer-seller-text">
            Controlează dispozitivele smart home sau aplicațiile compatibile.
          </li>
        </ul>
      </div>
      <div class="buyer-seller-container">
        <img
          loading="lazy"
          alt="Buy and sell second picture"
          src="./assets/landing-main-functions/continuous.png"
          style="width:40%; display:block"
        >
        <p class="buyer-seller-title">
          Optimizare Continuă
        </p>
        <p class="short-description">Rămâi mereu conectat la cele mai noi funcții</p>
        <ul>
          <li class="buyer-seller-text">
            <b>Actualizări automate:</b> Primești mereu cele mai noi funcții, fără întreruperi.
          </li>

          <br>

          <li class="buyer-seller-text">
            <b>Îmbunătățiri constante:</b> Performanța este rafinată pe baza feedback-ului utilizatorilor.
          </li>
          <br>

          <li class="buyer-seller-text">
            <b>Ușor și eficient:</b> Totul se întâmplă rapid, fără setări complicate.
          </li>
        </ul>
      </div>
    </div>

    <p id="ending-text">
      Chiar atât de ușor!
    </p>
    <br>
  </div>
</div>
