<svg id="gradient-intro">
  <defs>
    <linearGradient id="horizontalGradient" x1="0%" y1="100%" x2="100%" y2="0%">
      <stop offset="20%" stop-color="#dfe0dc" stop-opacity="1"></stop>
      <stop offset="100%" stop-color="#1a243c" stop-opacity="1"></stop>
    </linearGradient>
  </defs>

  <g>
    <rect width="100%" height="100%" fill="url(#horizontalGradient)"></rect>
  </g>
</svg>

<div id="intro-container">
  <div id="intro-content-container">
    <div id="intro-bottom-content-container">
      <p id="intro-slogan">
        Puterea cuvintelor tale, în mâinile tehnologiei.
      </p>
      <br>
      <p id="intro-description">
        Transformă-ți vocea în acțiune. Economisește timp și simplifică-ți sarcinile zilnice cu tehnologia noastră de recunoaștere vocală.
      </p>
    </div>
  </div>

  <div id="animation-intro">
    <img
      loading="eager"
      alt="First page animation"
      src="../../../../assets/products/VDR.jpg"
      style="width:85%; height:55%; transform: scale(-1, 1);margin: 25% 6.2vmax">
  </div>
</div>
